/* Kart Efektleri */
.card {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s;
    border: none;
    border-radius: 10px;
}

    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0,0,0,0.1) !important;
    }

.btn {
    border-radius: 5px;
    font-weight: 600;
}
